@media (min-width: 400px) and (max-width: 799px){
  #col{
    columns: 100px 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}

@media (min-width: 800px) and (max-width: 1199px){
  #col{
    columns: 2;
    -webkit-columns:  2;
    -moz-columns:  2;
  }
}

@media (min-width: 1200px){
  #col{
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
