@media (min-width: 1100px) {

#gamecontain{
  float:left;
  height: 300px;
  width: 1000px;
  border: solid 3px black;
}
#vote{
  width: 25%;
  height: 500px;
  float: right;
  background-color: grey;
  font-size: 25px;
}
#featured{
  float: left;
  width: 70%;
  height: 500px;
  background-color: black;
  border: solid 2px black;
  margin: 10px;
}
.testbox{
  float: left;
  height: 200px;
  width: 200px;
  border: solid 2px black;
  background-color: red;
  margin: 15px;
}
.testboximg{
  margin: 10px;
}
.gametitles{
  text-align: center;
  font-weight: bold;
}
.clear{
  clear: both;
}
.hovertext {
    color: white;
    position: relative;
    top: 50%;
    max-width: 100%;
    width: auto;
    text-align: center;
    font-size: 55px;
}
  .hoverfade{
    position: absolute;
    display: block;
    width: 900px;
    height:500px;
    max-height: 100%;
}
ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0;
    padding-top:20px;
    padding-bottom: 20px;
    overflow: hidden;
    font-size: 22px;
    background-color: #00FF00;
    border: solid 2px black;
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 50px;
    text-decoration: none;
}
a:hover:not(.active) {
    background-color: #00AD00;
}
.active {
background-color:#008500;
}
}
