#gamecontain{
  float:left;
  border: solid 3px black;
}
#vote{
  float: right;
  background-color: grey;
  font-size: 25px;
}
#featured{
  float: left;
  background-color: black;
  border: solid 2px black;
  margin: 10px;
}
.testbox{
  float: left;
  border: solid 2px black;
  background-color: red;
  margin: 15px;
}
.testboximg{
  margin: 10px;
}
.gametitles{
  text-align: center;
  font-weight: bold;
}
.clear{
  clear: both;
}
.hovertext {
    color: white;
    position: relative;
    text-align: center;
    font-size: 55px;
}
.hoverfade{
  position: absolute;
  display: block;
}
ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0;
    padding-top:20px;
    padding-bottom: 20px;
    overflow: hidden;
    font-size: 22px;
    background-color: #00FF00;
    border: solid 2px black;
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 50px;
    text-decoration: none;
}
a:hover:not(.active) {
    background-color: #00AD00;
}
.active {
background-color:#008500;
}
@media (min-width: 1300px) {
#gamecontain{
  height: 300px;
  width: 1000px;
  }
#vote{
  width: 25%;
  height: 500px;
  }
#featured{
  width: 70%;
  max-width: 900px;
  height: 500px;
  }
.testbox{
  height: 200px;
  width: 200px;
  }
.hovertext {
    top: 50%;
    max-width: 100%;
    width: auto;
  }
  .hoverfade{
    width: 900px;
    height:500px;
    max-height: 100%;
  }
}
@media (max-width: 1299px) {
  #gamecontain{
    height: 300px;
    width: 1000px;
  }
  #vote{
    display: none;
  }
  #featured{
    width: 70%;
    height: 500px;
  }
  .hoverfade{
    width: 900px;
    height:500px;
    max-height: 100%;
}
  .hovertext {
      top: 50%;
      max-width: 100%;
      width: auto;
  }
  .testbox{
    height: 200px;
    width: 200px;
  }

}
