h1{
  font-family: sans-serif;
}
#navlist{
  position: fixed;
  left: 0;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
  overflow: auto;
  background-color: #18453B;
}
#navdiv{
  position: fixed;
  left: 0;
  top: 0;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
  overflow: auto;
  background-color: #18453B;
}
#indeximg{
  width:200px;
  height: 120px;
  margin: 0;
  padding: 0;
}
.navitem{
  padding: 25px 0px 25px 20px;
  display: block;
  width: 180px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;

}
.navitem:hover{
  background-color: #407065;
}
.subnavitem{
  text-decoration: none;
  padding: 25px 0px 25px 20px;
  display: block;
  width: 180px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  background-color: #009925;
}
.subnavitem:hover{
  background-color:#10BB36;
}
#featured{
  float: left;
  margin-left: 210px;
  margin-top: 10px;
  width: 1280px;
  height: 770px;
  background-color: black;
  border: solid 2px black;
}
.clear{
  clear: both;
}
.boxcontain{
  margin-top: 10px;
  margin-left: 210px;
  width: 1600px;
  height: 360px;
}

.gamebox{
  float: left;
  height: 225px;
  width: 300px;
  margin: 5px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: underline;
  color: blue;
  font-size: 20px;
}
.boximg{
  width: 250px;
  height: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#shoppeimg:hover{
  opacity: .5;
}
.featuredtab{
  float: left;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 638px;
  color: white;
  background-color: #18453B;
  border: solid 1px black;
}
html{
  background-color:#aaaaaa;
}
.morestuff{
  text-align: right;
  font-family: sans-serif;
  text-decoration: underline;
  color: blue;
}
#whoarewe{
  float: left;
  margin-left: 200px;
  width: 900px;
  height: 400px;
}
#whypick{
  float: left;
  margin-left: 25px;
  width: 700px;
  height: 300px;
  text-align: right;
}
#aboutimg1{
  float:left;
  margin-left: 25px;
  height: 300px;
  width: 500px;
}
#aboutimg2{
  margin-left:200px;
  float:left;
  height: 500px;
  width: 900px;
}
#actual{
  float:left;
  margin-left: 200px;
  height:300px;
  width:800px;
}
